
<main class= "limitWidthBody">
  <h1 class= "secondaryPageTitle">About</h1>

  <section>

    <div class="container">

      <section class= "profilePageSect">
        <h1 class= "sectionTitle">Eboard Members</h1>
          {{#each eBoardProfilesSrcArr}}
            <div class="indivProfileRow row justify-content-md-center">
              <div class="col-md-auto">
                <img class= "aboutProfilePics" src={{this.src}} width = {{this.width}} height= {{this.height}} alt= {{this.alt}}>
              </div>
              <div class="col col-lg-7">
                <h2>{{this.name}}</h2>
                <h3>{{this.title}}</h3>
                <p>
                  {{this.bio}}
                </p>
              </div>
            </div>
          {{/each}}
      </section>


      <section class= "profilePageSect">
        <h1 class= "sectionTitle">Founding Members</h1>
          {{#each foundingProfilesSrcArr}}
            <div class="indivProfileRow row justify-content-md-center">
              <div class="col-md-auto">
                <img class= "aboutProfilePics" src={{this.src}} width = {{this.width}} height= {{this.height}} alt= {{this.alt}}>
              </div>
              <div class="col col-lg-7">
                <h2>{{this.name}}</h2>
                <p>
                  {{this.bio}}
                </p>
              </div>
            </div>
          {{/each}}
      </section>


      <section class= "profilePageSect">
        <h1 class= "sectionTitle">Faculty Mentor</h1>

          {{#each facultyProfilesSrcArr}}
            <div class="indivProfileRow row justify-content-md-center">
              <div class="col-md-auto">
                <img class= "aboutProfilePics" src={{this.src}} width = {{this.width}} height= {{this.height}} alt= {{this.alt}}>
              </div>
              <div class="col col-lg-7">
                <h2>{{this.name}}</h2>
                <p>
                  {{this.bio}}
                </p>
              </div>
            </div>
          {{/each}}
      </section>

    </div>


  </section>



</main>
